* {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(media/contactusformwallpaper.jpg);
    backdrop-filter: blur(10px);
    
}

nav {
    width: 100%;
    height: 10%;
    background-color: rgb(240, 248, 255);
}

section {
    width: 100%;
    height: 45vh;
    overflow: hidden;
}





.developers {
    display: flex;
    flex-direction: column;
}

.developers h4 {
    height: 10%;
    width: 100%;
    font-size: 2em;
    text-align: center;
    padding: 5px;
    color: aliceblue;
}


.profiles_container {
    width: 100%;
    height: 90%;
    background-color: rgba(240, 248, 255, 0.018);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profile {
    color: aliceblue;
    width: 18%;
    height: 99%;
    margin: 1%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.profile img {
    width:45%;
    height:45%;
    display: block;
    border-radius: 50%;
}

.profile h6 {
    font-size: large;
    font-weight: 500;
    margin: 10px;
}
.profile p{
    margin: 9px;
}

.social-icons a{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}

.section-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(6, 105, 18, 0.197);
}

.button a{
    color: white;
    background-color: green;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.93em 2.18em;
    letter-spacing: 1px;
    border-radius: 20px;
    margin-bottom: 40px;
    transition: 0.7s ease;

}
.button a:hover{
    color: black;
    background-color: rgba(0, 128, 0, 0.735);
    transform: scale(0.9);
}


