/* CSS Resetter dont remove, it's important*/
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Poppins:wght@400;500;600&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Jost", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: smooth !important;
  }
}
:root {
  --clr-light: #fff;
  --clr-dark: #303030;
}
/* CSS Resetter dont remove it it's important*/
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.363)),
    url(images/grey.jpg);
  background-size: cover;
  background-position: center;
}
.header {
}

/* Navbar */
.wrapper {
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  background: #000;
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
  z-index: 2;
}
#active:checked ~ .wrapper {
  /*left: 0;*/
  right: 0;
}
.menu-btn {
  position: fixed;
  z-index: 3;
  right: 20px;
  /*left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  /*color: #fff;*/
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 30%;
  width: 40%;
  border-bottom: 2px solid white;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before {
  transform: translateY(-8px);
}
.menu-btn:after {
  transform: translateY(8px);
}

.close {
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background 0.6s;
}

/* closing animation */
#active:checked + .menu-btn span {
  transform: scaleX(0);
}
#active:checked + .menu-btn:before {
  transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
  transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper ul {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li {
  height: 10%;
  margin: 15px 0;
}
.wrapper ul li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a:after {
  position: absolute;
  content: "";
  background: #fff;
  /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after {
  transform: scaleY(1);
}
.wrapper ul li a:hover {
  color: #1a73e8;
}
input[type="checkbox"] {
  display: none;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title {
  font-size: 40px;
  font-weight: 700;
}
.content p {
  font-size: 35px;
  font-weight: 600;
}

#active:checked ~ .wrapper ul li a {
  opacity: 1;
}
.wrapper ul li a {
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a {
  transform: none;
  transition-timing-function: ease, cubic-bezier(0.1, 1.3, 0.3, 1); /* easeOutBackを緩めた感じ */
  transition-delay: 0.6s;
  transform: translateX(-100px);
}

.logo {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 3;
  padding: 1em;
  width: 11em;
}

.section_home {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em;
}

.home-title {
  padding: 2em;
}

.title {
  color: white;
  align-items: center;
  font-size: 40px;
  text-align: center;
  padding: 1em;
}
.section_info {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em;
}

.images-slider {
  width: 45em;
  height: 30em;
}

.slide-image {
  border-radius: 18px;
}

.image {
  width: 100%;
  height: 100%;
}
.swiper-pagination-bullet {
  width: 1.3em;
  height: 1.3em;
  text-align: center;
  line-height: 26px;
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #000;
  background: #fff;
}

.info-slider {
  width: 56em;
  height: 60em;
  display: grid;
  border-radius: 50px;
  color: white;
}

.slide_info {
  padding: 3em;
  background-color: transparent;
  backdrop-filter: blur(15px);
  border-radius: 1em;
}

audio {
  width: 50em;
}
p {
  padding-bottom: 2em;
  font-size: 1.3em;
}
.text-title {
  padding: 1em;
}

iframe {
  width: 50em;
  height: 21.5em;
  border-radius: 2em;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(175, 5, 5, 0.705);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(146, 6, 6, 0.315);
}

@media (max-width: 480px) {
  .title {
    color: white;
    align-items: center;
    font-size: 28px;
    width: 20em;
    text-align: center;
    margin-left: 1em;
    padding: 2em;
  }
  .section_home {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2em;
  }
  .section_info {
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0em;
  }
  .images-slider {
    width: 34em;
    height: 25em;
    margin-left: 1em;
  }
  .info-slider {
    width: 41em;
    height: 60em;
    display: grid;
    border-radius: 50px;
    color: white;
    margin-right: 8em;
  }
  .slide_info {
    padding: 3em;
    background-color: transparent;
    backdrop-filter: blur(15px);
    border-radius: 1em;
  }
  p {
    padding-bottom: 2em;
    font-size: 19px;
    width: 100%;
    text-align: justify;
  }
  iframe {
    width: 35em;
    height: 16.5em;
    border-radius: 2em;
  }
  audio {
    width: 35em;
  }
  .text-title {
    padding: 1em;
    width: 100%;
    text-align: justify;
  }
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: "Jost", sans-serif;
    width: 165%;
  }
  .menu-btn {
    position: fixed;
    z-index: 3;
    right: 20px;
    left: 77%;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}
